.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa; /* Adjust background color as needed */
    border-bottom: 1px solid #dee2e6; /* Border for visual separation */
}

.toolbar-section {
    display: flex;
    align-items: center;
}

.actions {
    gap: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.project-details {
    margin-right: 1px;
}
